In [1]:
# Adjust working directory to allow importing modules from parent directory
from pathlib import Path
import os

# Get current working directory only if it has not been defined (first run)
try:
    current_directory
except:
    current_directory = Path.cwd()

# Change the working directory to the parent
parent_directory = current_directory.parent
os.chdir(parent_directory)

In [2]:
# Import modules
# External modules

# Internal modules
from src.data.csv_tools import csv_to_dataframe

In [3]:
# Get processed train
train_df = csv_to_dataframe("train")
print(train_df.shape)
train_df.head()

(1628989, 19)

,user_id,accommodation_id,guest_type,guest_country,room_nights,month,accommodation_type,accommodation_country,accommodation_score,accommodation_star_rating,location_is_ski,location_is_beach,location_is_city_center,review_id,review_title,review_positive,review_negative,review_score,review_helpful_votes
0,8e2ee00e-08bf-4229-aefb-74224a5adfa6,-1109473678,Family with children,Vey,2,2,Hotel,Turkey,8.3,5.0,0,0,0,ca87eb9f-3b2a-4e3b-9f86-6a8d14722a9e,Amazing hotel &amp; staff,I loved the hotel the rooms were amazing and t...,Nothing,10.0,0
1,776accc3-9f1b-4a2e-8616-aafcac7eeb1d,-1189343073,Solo traveller,Gobuf,2,3,Hotel,Italy,8.0,4.0,0,0,0,b555f9d4-176a-4813-b88d-54e0b676be9c,Spacious and Clean Room,Room was very spacious and clean. Staff were f...,Area of the hotel wasn&#39;t great but it was ...,8.0,0
2,e32f90a1-1580-4a87-86a1-7602d5543a15,-1454980525,Couple,Qehoj,3,6,Hotel,Germany,8.5,4.0,0,0,1,baf7a395-049f-4ea7-a380-58e9836b5da2,A wonderful hotel where you feel comfortable a...,"The room was beautifully decorated, the bed wa...",NaN,10.0,0
3,9f246c70-def0-4b93-8c8a-296f5014f6fc,-773005129,Family with children,Mejok,1,8,Apartment,United Kingdom,9.3,0.0,0,0,0,a29ebd72-c49e-4a4c-a68e-093d88c87cf3,NaN,What an amazing apartment!!!!! Easy check in. ...,Nothing,10.0,0
4,2958080f-b80d-4bcb-84e9-2e053c314e38,462909752,Family with children,Zuc,6,6,Hotel,Australia,8.7,4.0,0,1,0,da5f55ce-43c3-4ce5-8f7c-3ef02bedcf68,The Palmere Collective has everything you need...,"We were up for a Cowboys game, and the locatio...","The Hotel could benefit from a bigger, better ...",10.0,0

In [4]:
# Check for missing values
missing_values = train_df.isnull().sum()
missing_values = missing_values[missing_values > 0]
missing_values

guest_country        2198
review_title       531861
review_positive         8
review_negative    469549
dtype: int64

In [5]:
# Get unique values for each column
unique_values = train_df.nunique()
unique_values

user_id                      1628989
accommodation_id               40000
guest_type                         4
guest_country                    237
room_nights                       72
month                             12
accommodation_type                27
accommodation_country            180
accommodation_score               71
accommodation_star_rating         10
location_is_ski                    2
location_is_beach                  2
location_is_city_center            2
review_id                    1628989
review_title                  844148
review_positive              1582370
review_negative               914773
review_score                      22
review_helpful_votes              50
dtype: int64